body{
    margin: 0px;
    padding: 0px;
}
/** default font style and size for headers **/
h1,h2,h3,h4,h5,h6{
    /** font-family: ; **/
    text-align: center;
}
/** Default styling for text and lists on the page **/
p,a,li,figcaption,td {
    font-size: 1.2em;
    /** font-family: ; **/
    text-decoration: none;
}
/** Desktop Styling **/
body {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header header"
        "main main main main"
        "aside aside aside aside"
        "footer footer footer footer";
    background-color: #26dddd;
    padding: 0px;
    margin: 0px;
}
/** Styling for the headers **/
header {
    grid-area: header;
    display: flex;
    justify-content: left;
    position: fixed;
    color: black;
    background-color: #F2f2f9;
    height: 100px;
    width: 100%;
    z-index: 800;
    padding: 1px;
    margin: 0px;
    transition: all .25s linear;
}

header div a img{
    flex-grow: 1;
    height: 98%;
    width: auto;
}

header div+div {

}

header nav {
    display: flex;
    padding: 0px;
    margin: 0px;
    list-style: none;
    justify-content: left;
}
header nav menu li{
    padding: 0px 10px;
    list-style: none;
}
header nav menu li img{
    height: auto;
    width: 50px;
    padding-right: 5px;
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
}
main section:nth-child(1){
    background-color: #161423;
}
main section h1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #f7e26c;
    font-size: 6em;
    height: 200px;
    width: auto;
    padding-top: 100px;
    padding-bottom: 0px;
}
/*Turbo graphics 16 information page*/
main section:nth-child(2){
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    background-color: #126d30;
}
main section:nth-child(2) h3{
    font-size: 4em;
    color: #d82323;
}
main section:nth-child(2) div{
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: auto;
}
main section:nth-child(2) div img {
    height: auto;
    width: 98%;
    padding-top: 100px;
}
main section:nth-child(2) div p{
    font-size: 2em;
    color: #f2f2f9;
}
main section:nth-child(2) div a{
    color: #F2f2f9;
    text-decoration: underline;
    text-align: center;
    padding-bottom: 20px;
}
/*Hudson soft information area*/
main section:nth-child(3){
    background-color: #edb329;
}
main section:nth-child(3) h3{
    font-size: 4em;
}

main section:nth-child(3) div{
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: auto;
}
main section:nth-child(3) div img{
    height: auto;
    width: 98%;
}
main section:nth-child(3) div p{
    font-size: 2em;
}
main section:nth-child(3) div a{
    padding-left: 250px;
    padding-bottom: 10px;
    color: #161423;
    text-decoration: underline;
}
/*Three sample games and information*/
aside {
    grid-area: aside;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    background-color: #6c251e;
}
aside article {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    text-align: center;
    align-items: center;
}
aside article figure{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
aside article figure img{
    height: 200px;
    width: auto;
}
aside article figure figcaption{
    font-size: 1.5em;
    color: #F2f2f9;
}
aside article a{
    color: #26dddd;
    text-decoration: underline;
    padding-top: 5px;
    padding-bottom: 5px;
}

footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #edb329;
}
footer section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
}
footer section div:nth-child(1) img {
    height: 200px;
    width: auto;
}
footer section div:nth-child(2) form p{
    width: 200px;
    height: auto;
}

/*About Us Page information*/
#Information {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    padding-top: 100px;
}
#Information section{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    text-align: center;
    background-color: #934226;
}
#Information section div:nth-child(1){
    font-size: 1.5em;
    color: #F2f2f9;
}
#Information section div:nth-child(2) img{
    height: auto;
    width: 98%;
}
#Information section a {
    font-size: 1em;
    color: #F2f2f9;
    text-decoration: underline;
}
/* about the console*/
#AboutTurbo {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
}
#AboutTurbo section {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    background-color: #edb329;
    padding-top: 100px;
}
#AboutTurbo section div:nth-child(1) p{
    font-size: 1.5em;
}
#AboutTurbo section div:nth-child(2) img{
    height: auto;
    width: 98%;
    padding-top: 50px;
}

/*Buy Now Page*/
#BuyNowPage {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    background-color: #6a5fa0;
    padding-top: 100px;
}
#BuyNowPage h1{
    font-size: 3em;
    color: #1fcb23;
}
#BuyNowPage h2 {
    font-size: 2em;
    color: #1fcb23;
    text-decoration: underline;
}
#BuyNowPage section{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
}
#BuyNowPage section button{
    width:100px;
    height: 50px;
    border: solid 2px #1867a0;
    background-color: #26dddd;
    align-self: center;
    color: #126d30;
}
#BuyNowPage section div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
}
#BuyNowPage section div img{
    height: auto;
    width: 98%;
}

/*When the screen is less then 1024px*/
@media screen and (max-width: 1024px){

    #BuyNowPage section div p{
        font-size: 1.25em;
    }
}

/*When the screen width is less the 768px*/
@media screen and (max-width: 768px) {

/*The Main index Page*/
    main section{
        width: auto;
    }
    main section h1{
        font-size: 3em;
        height: 100px;
        width: auto;
    }
    main section:nth-child(2) h3{
        font-size: 2em;
    }
    main section:nth-child(2) div p, a{
        font-size: 1em;
    }
    main section:nth-child(2) div img{
        padding-top: 25px;
    }
    main section:nth-child(3) h3{
        font-size: 2em;
    }
    main section:nth-child(3) div p, a{
        font-size: 1em;
    }
    aside article figure figcaption{
        font-size: 1em;
    }

    /* The information page */
    #Information section div:nth-child(1) p{
        font-size: .625em;
    }
    #Information section div:nth-child(2) img{
        height: auto;
        width: 75%;
    }

    /*The About Turbo page*/
    #AboutTurbo section div:nth-child(1) p{
        font-size: 1em;
    }
    #AboutTurbo section div:nth-child(2) img{
        height: auto;
        width: 85%;
    }
}
